<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Time</title>
</head>
<body>
    <form method ="post" >
        <input name="full-name-login" placeholder="Your Full Name">
        <input name="join-time-login" type="datetime-local"  >
        <select  name="status">
            <option value="Activate">Activate</option>
            <option value="Deactivate">Deactivate</option>
          </select>
        <button >Join</button>
    </form>


   

    
</body>
</html>